@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h1,
.fraunces {
    font-family: 'Fraunces', sans-serif;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
}

li {
    list-style-type: none;
    margin-right: 1rem;
}

ul {
    display: flex;
}

.attribution {
    margin-top: 20rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}