@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);
    width: 40%;
    overflow: hidden;
    margin: 50px auto;
    border-radius: 0 8px 8px 0;
}

.content {
    margin-top: 5%;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
}

.content>h1 {
    line-height: 1.7rem;
    margin-top: 1.25rem;
    font-weight: 700;
    text-align: left;
}

.content>h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.3125rem;
    color: hsl(228, 12%, 48%);
}

.content>p {
    margin-top: 1.25rem;
    line-height: 1.55rem;
    width: 90%;
}

.content .newprice {
    margin-top: 1.25rem;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
}

.content .old {
    margin-top: 1.75rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
}

.content>button {
    margin-top: 1.5rem;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: hsl(0, 0%, 100%);
    padding: 0.625rem;
    border-radius: 8px;
}

button>img,
button>span {
    vertical-align: middle;
}

.content>button:hover {
    background-color: hsl(158, 37%, 21%);
    cursor: pointer;
}

button>img {
    margin-right: 5px;
}

.product {
    min-width: 50%;
    height: 100%;
    border-radius: 8px 0 0 8px;
    background-position: center;
    background-size: cover;
}

h4,
p {
    font-family: 'Montserrat', sans-serif;
}

h1,
.fraunces {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-size: 0.875rem;
}

li {
    list-style-type: none;
    margin-right: 1rem;
}

ul {
    display: flex;
}

.attribution {
    margin-top: 8rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
    .product {
        display: none;
    }
}